/* Homepage */
section#basket {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/ekskulbasket1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section#voli {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/ekskulvoli1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

section#futsal {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/ekskulfutsal1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

section#pidatoadat {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/ekskulpidatoadat.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

section#pramuka {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/ekskulpramuka1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

section#paskhas {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/ekskulpaskhas1.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

section#pmr {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/ekskulpmr1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

section#uks {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/ekskuluks1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

section.homepage .container {
  padding: 10rem 2rem;
}

section.homepage .card {
  backdrop-filter: blur(1px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
  border: 0;
  /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.75); */
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 0.5rem;
}

section.homepage .gambar img {
  border-radius: var(--lengkung);
  -webkit-border-radius: var(--lengkung);
  -moz-border-radius: var(--lengkung);
  -ms-border-radius: var(--lengkung);
  -o-border-radius: var(--lengkung);
}

section.homepage .card .keterangan {
  padding: 1rem 2rem;
}

section.homepage .card .keterangan span {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid var(--warna1);
}

section.homepage .card .keterangan p {
  margin-top: 1rem;
}

section.homepage .card .keterangan button {
  background-color: var(--warna5);
  color: var(--warna-putih);
}
/* End Homepage */
